body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
  text-align: left;
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.image {
  width: 150px;
  padding: 15px;
}
.container {
  border: 20px solid white;
  background: white;
  border-radius: 20px;
  display: block;
  margin: 45px auto;
  max-width: 600px;
}
.search-form {
  background: #f9f7fe;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid blue;
  font-size: 18px;
  padding: 10px 20px;
  line-height: 20px;
  width: 450px;
  height: 50px;
}
.submit-form {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
  width: 80px;
  color: white;
  border-radius: 5px;
  margin: 5px;
  width: 100px;
}
.city {
  color: #272142;
  font-size: 38px;
  margin: 0;
  font-weight: 900;
}
.city-details {
  text-align: left;
  color: #27214266;
  font-size: 15px;
  font-weight: 500;
  line-height: 24pxpx;
  margin: 20px 0 10px;
}
.temperature {
  text-align: center;
}
.temperature-icon {
  font-size: 30px;
}
.temperature-value {
  font-size: 88px;
  font-weight: 900;
}
.temperature-degree {
  font-size: 45px;
  position: relative;
  bottom: 38px;
}
main div p strong {
  color: #f65282;
}
footer {
  text-align: center;
  color: #403e3e;
  font-family: PT Mono, monospace;
  font-size: 13px;
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
}
footer a {
  color: #155ca2;
  font-weight: 900;
}
